<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.object_detection_app">

    <!-- Camera Permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Camera Feature (required for object detection) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Vision Assisstent"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">

        <!-- Splash Screen (Launcher) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main / Start Activity -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Camera / Detection Activity -->
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.Object_Detection_App" />


    </application>

</manifest>
